---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/openx.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"c72a74fa8aedf04148cdc896d3056182"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-13.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {"name": "OpenX",
         "permalink": "openx",
         "crunchbase_url": "http://www.crunchbase.com/company/openx",
         "homepage_url": "http://www.openx.com",
         "blog_url": "http://www.openx.com/blog",
         "blog_feed_url": "",
         "twitter_username": "OpenX",
         "category_code": "advertising",
         "number_of_employees": 310,
         "founded_year": 2008,
         "founded_month": 5,
         "founded_day": 1,
         "deadpooled_year": null,
         "deadpooled_month": null,
         "deadpooled_day": null,
         "deadpooled_url": null,
         "tag_list": "ad-server, ad-serving, ad-exchange, yield-optimization, content-valuation",
         "alias_list": "",
         "email_address": "hello@openx.com",
         "phone_number": "626-466-1141",
         "description": "OpenX",
         "created_at": "Wed Jun 13 18:23:43 UTC 2007",
         "updated_at": "Fri Jan 31 09:36:40 UTC 2014",
         "overview": "\u003Cp\u003EOpenX is a global leader in digital and mobile advertising technology. OpenX\u2019s vision is to unleash the full economic potential of digital media companies. OpenX\u2019s unified monetization platform combines an ad server and a real-time bidding ad exchange to deliver the highest revenue across every digitally connected screen.\u003C/p\u003E\n\n\u003Cp\u003EOpenX Technologies, Inc., a wholly owned subsidiary of OpenX Software Ltd., is based in Los Angeles and is backed by leading investors including Accel Partners, Index Ventures, SAP Ventures, and Samsung Venture Investment Corporation.\u003C/p\u003E",
         "image":
          {"available_sizes":
            [[[150,
               55],
              "assets/images/resized/0000/4165/4165v11-max-150x150.png"],
             [[250,
               92],
              "assets/images/resized/0000/4165/4165v11-max-250x250.png"],
             [[450,
               165],
              "assets/images/resized/0000/4165/4165v11-max-450x450.png"]],
           "attribution": null},
         "products":
          [{"name": "OpenX Ad Server",
            "permalink": "openads"},
           {"name": "OpenX Ad Exchange",
            "permalink": "openx-hosted"},
           {"name": "OpenX SSP",
            "permalink": "openx-mods"}],
         "relationships":
          [{"is_past": false,
            "title": "VP, Engineering \u0026 Chief Architect",
            "person":
             {"first_name": "Jin",
              "last_name": "Yu",
              "permalink": "jin-yu"}},
           {"is_past": false,
            "title": "Chief Operating Officer \u0026 President",
            "person":
             {"first_name": "John",
              "last_name": "Gentry",
              "permalink": "john-gentry-2"}},
           {"is_past": false,
            "title": "Chief Executive Officer",
            "person":
             {"first_name": "Tim",
              "last_name": "Cadogan",
              "permalink": "tim-cadogan"}},
 [...]
[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-16.mashery.com
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Strict//EN\">\n<html
        xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n\t<head>\n\t\t<script type=\"text/javascript\">var
        _sf_startpt=(new Date()).getTime()</script>\n\t\t<title>page not found | CrunchBase</title>\n\t\t<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<!--removes
        image toolbar in ie6 when hovering over an image-->\n\t\t<meta http-equiv=\"imagetoolbar\"
        content=\"no\">\n\t\t<meta name=\"verify-v1\" content=\"Bq7pUbAKNsXZX1CUADib2mG86+9F4navslus2seHM98=\"
        >\n\t\t<meta name=\"google-site-verification\" content=\"jsbIpHVQLY1kZJ_nxdPuFMGL9J3LST9g5mssBq0_Rf0\"
        />\t\t\n\t\t\n\t\t<link rel=\"icon\" type=\"image/png\" href=\"/images/favicon.png\">\n\t\t<link
        rel=\"apple-touch-icon\" href=\"/images/webclip.png\"/>\n\t\t<link rel=\"search\"
        type=\"application/opensearchdescription+xml\" title=\"CrunchBase\" href=\"/opensearch.xml\">\n\t\t\n\t\t<link
        href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/all_1391895782.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n    \n\t\t<link
        rel=\"stylesheet\" type=\"text/css\" media=\"print\" href=\"/stylesheets/print.css\"
        />\n\t\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"
        type=\"text/javascript\"></script>\n\t\t\n\t\t<script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/all_1391895782.js\"
        type=\"text/javascript\"></script>\n    <script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/calendar_date_select/calendar_date_select.js\"
        type=\"text/javascript\"></script>\n<link href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/calendar_date_select/default.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n\t\t\n\t\t\n\t\t<script
        src=\"http://o.aolcdn.com/ads/adsWrapper.js\" type=\"text/javascript\"></script>\n\t\t<script
        type=\"text/javascript\">adSetAdURL(\"http://www.crunchbase.com/_uac/adpage.html\");</script>\n\t</head>\n\t<body>\n\t\t<div
        id=\"welcome\" style=\"display:none;\"><div class=\"close\" onClick=\"Effect.BlindUp('welcome',
        { duration: 1.0 });ignoreWelcome();return false;\">x</div>Welcome to CrunchBase!
        <a href =\"/help/faq\" onClick=\"ignoreWelcome();\">Learn more</a></div>\n\t\t\t\t\n\t\t<div
        id=\"top\">\n\t<div id=\"top_strip\">\n\t\t<div id=\"top_strip_left\">\n\t\t\t<ul>\n\t\t\t\t<li><div><a
        href=\"http://www.techcrunch.com/\" title=\"Tech\">TechCrunch</a></div></li>\n\t\t\t\t<li
        id=\"top_active_tab\"><div><a href=\"http://www.crunchbase.com/\" title=\"CrunchBase\">CrunchBase</a></div></li>\n\t\t\t\t<li
        id=\"tcnetwork_more\">\n\t\t\t\t\t<div><a id=\"tcnetwork_more_link\" href=\"#\"
        onClick=\"tcnetwork_more(); tcStopPropagation(event); return false;\">More</a></div>\n\t\t\t\t\t<div
        id=\"tcnetwork_more_content\">\n\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t<li><a href=\"http://uk.techcrunch.com/\"
        title=\"TechCrunch UK\">TechCrunch UK</a></li>\n\t\t\t\t\t\t\t<li><a href=\"http://fr.techcrunch.com/\"
        title=\"TechCrunch France\">TechCrunch France</a></li>\n\t\t\t\t\t\t\t<li><a
        href=\"http://jp.techcrunch.com/\" title=\"TechCrunch Japan\">TechCrunch Japan</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</li>\n\t\t\t</ul>\n\t\t</div>\n\t</div>\n</div>\n<div
        id=\"header\">\n\t<a href=\"/\" id=\"logo\"><img src=\"http://ec2-107-21-104-179.compute-1.amazonaws.com/images/crunchbase_logo.png\"
        alt=\"CrunchBase Picture\" border=\"0\" /></a>\n\t<div class=\"ads leaderboard\">\n\t\t<!--
        ADS *************** -->\n\n\t\n\n<div id=\"ads\">\t\n\t<script type=\"text/javascript\">\n\t\t<!--\n\t\t\tadSetType('F');\n\t\t\thtmlAdWH(\"93318425\",
        \"728\", \"90\");\n\t\t//-->\n\t</script>\n</div>\n\t</div>\n\t\n</div>\n\n\t
        \ \t<div id=\"strip\">\t\n\t<div id=\"session\">\n\t\n\t\t<a href=\"/account/signup\"
        title=\"Register\">Register</a>&nbsp;|\n\t\t<a href=\"/login\" rel=\"nofollow\"
        title=\"Login\">Login</a> or\n\t\t<fb:login-button onlogin=\"window.location.href
        = &quot;/facebook_connect/connect&quot;;\" v=\"2\"></fb:login-button>\t\t\t\t\t\t\n\t\n</div>\n\t<div
        id=\"strip_right\">\t\t\n\t\t\n\t</div>\n\t<div id=\"search\">\n\t<form action=\"/search\"
        method=\"get\">\n\t\t<input autocomplete=\"off\" id=\"search_box\" name=\"query\"
        type=\"text\" />\n\t\t<input class=\"button\" id=\"search_button\" type=\"submit\"
        value=\"Search\" />\t\t\n\t\t<a href=\"#\" id=\"advanced_search\" onclick=\"run_advanced_search('/search/advanced/companies',
        \n                               $('search_box').value); return false;\" rel=\"nofollow\"
        title=\"Advanced Search\">Advanced Search</a> \n\t</form>\n</div>\n</div>\t\t\n\t\t<div
        id=\"breadcrumbs\"><a href=\"/\" title=\"Home\" rel=\"nofollow\">Home</a></div>\n\t\t\n\t\t<div
        id=\"container\">\n\t\t\t\n\n\n<div id=\"col1\">\n  <div class=\"col1_tabs\">\n
        \   <div class=\"col1_content\">\n      <table>\n      </table>\n    </div>\n
        \ </div>\n</div>\n\n\n<div id=\"col2\">\n  <div id=\"col2_internal\">\n    <div
        class=\"msg_notice\">\n      Sorry, we found nothing matching this URL.\n
        \   </div>\t\t\t\n  </div>\n</div>\n\n\n<div id=\"col3\">\n  <div class=\"col3_content\">\n
        \   <ul>\n  \n    </ul>\n  </div>\n</div>\n\n\t\t</div>\n\t\t<div id=\"footer\">\n
        \ <a href=\"/about\" rel=\"nofollow\" title=\"About\">About</a> |\n  <a href=\"http://www.techcrunch[...]
