---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/openx.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"c72a74fa8aedf04148cdc896d3056182"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-13.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {"name": "OpenX",
         "permalink": "openx",
         "crunchbase_url": "http://www.crunchbase.com/company/openx",
         "homepage_url": "http://www.openx.com",
         "blog_url": "http://www.openx.com/blog",
         "blog_feed_url": "",
         "twitter_username": "OpenX",
         "category_code": "advertising",
         "number_of_employees": 310,
         "founded_year": 2008,
         "founded_month": 5,
         "founded_day": 1,
         "deadpooled_year": null,
         "deadpooled_month": null,
         "deadpooled_day": null,
         "deadpooled_url": null,
         "tag_list": "ad-server, ad-serving, ad-exchange, yield-optimization, content-valuation",
         "alias_list": "",
         "email_address": "hello@openx.com",
         "phone_number": "626-466-1141",
         "description": "OpenX",
         "created_at": "Wed Jun 13 18:23:43 UTC 2007",
         "updated_at": "Fri Jan 31 09:36:40 UTC 2014",
         "overview": "\u003Cp\u003EOpenX is a global leader in digital and mobile advertising technology. OpenX\u2019s vision is to unleash the full economic potential of digital media companies. OpenX\u2019s unified monetization platform combines an ad server and a real-time bidding ad exchange to deliver the highest revenue across every digitally connected screen.\u003C/p\u003E\n\n\u003Cp\u003EOpenX Technologies, Inc., a wholly owned subsidiary of OpenX Software Ltd., is based in Los Angeles and is backed by leading investors including Accel Partners, Index Ventures, SAP Ventures, and Samsung Venture Investment Corporation.\u003C/p\u003E",
         "image":
          {"available_sizes":
            [[[150,
               55],
              "assets/images/resized/0000/4165/4165v11-max-150x150.png"],
             [[250,
               92],
              "assets/images/resized/0000/4165/4165v11-max-250x250.png"],
             [[450,
               165],
              "assets/images/resized/0000/4165/4165v11-max-450x450.png"]],
           "attribution": null},
         "products":
          [{"name": "OpenX Ad Server",
            "permalink": "openads"},
           {"name": "OpenX Ad Exchange",
            "permalink": "openx-hosted"},
           {"name": "OpenX SSP",
            "permalink": "openx-mods"}],
         "relationships":
          [{"is_past": false,
            "title": "VP, Engineering \u0026 Chief Architect",
            "person":
             {"first_name": "Jin",
              "last_name": "Yu",
              "permalink": "jin-yu"}},
           {"is_past": false,
            "title": "Chief Operating Officer \u0026 President",
            "person":
             {"first_name": "John",
              "last_name": "Gentry",
              "permalink": "john-gentry-2"}},
           {"is_past": false,
            "title": "Chief Executive Officer",
            "person":
             {"first_name": "Tim",
              "last_name": "Cadogan",
              "permalink": "tim-cadogan"}},
 [...]
[...]
