---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/cargurus.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"33157e4a1c00dbad004efae9e20b1580"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-18.mashery.com
    body:
      encoding: UTF-8
      string: "{\"name\": \"CarGurus\",\n \"permalink\": \"cargurus\",\n \"crunchbase_url\":
        \"http://www.crunchbase.com/company/cargurus\",\n \"homepage_url\": \"http://www.cargurus.com\",\n
        \"blog_url\": \"http://blog.cargurus.com/\",\n \"blog_feed_url\": \"http://blog.cargurus.com/feed\",\n
        \"twitter_username\": \"CarGurus\",\n \"category_code\": \"web\",\n \"number_of_employees\":
        47,\n \"founded_year\": 2006,\n \"founded_month\": null,\n \"founded_day\":
        null,\n \"deadpooled_year\": null,\n \"deadpooled_month\": null,\n \"deadpooled_day\":
        null,\n \"deadpooled_url\": null,\n \"tag_list\": \"cars, shopping, auto,
        price-comparison, qa, classifieds\",\n \"alias_list\": null,\n \"email_address\":
        \"\",\n \"phone_number\": \"617-234-5502\",\n \"description\": \"Car Shopping
        and Community\",\n \"created_at\": \"Sun Feb 17 02:26:00 UTC 2008\",\n \"updated_at\":
        \"Mon Jan 20 03:53:38 UTC 2014\",\n \"overview\": \"\\u003Cp\\u003EA comparison
        shopping site for automobiles that uses proprietary pricing algorithms to
        analyze millions of new and used car listings to help consumers find the best
        deals\x14 and avoid bad deals \x14in their local area. Users share information,
        including reviews of dealers, mechanics, and cars and advice on other car
        topics.\\u003C/p\\u003E\",\n \"image\":\n  {\"available_sizes\":\n    [[[150,\n
        \      38],\n      \"assets/images/resized/0002/2167/22167v1-max-150x150.png\"],\n
        \    [[250,\n       64],\n      \"assets/images/resized/0002/2167/22167v1-max-250x250.png\"],\n
        \    [[257,\n       66],\n      \"assets/images/resized/0002/2167/22167v1-max-450x450.png\"]],\n
        \  \"attribution\": null},\n \"products\":\n  [],\n \"relationships\":\n  [{\"is_past\":
        false,\n    \"title\": \"CEO\",\n    \"person\":\n     {\"first_name\": \"Langley\",\n
        \     \"last_name\": \"Steinert\",\n      \"permalink\": \"langley-steinert\"}},\n
        \  {\"is_past\": false,\n    \"title\": \"Vice President, Business Development\",\n
        \   \"person\":\n     {\"first_name\": \"Martha\",\n      \"last_name\": \"(Marty)
        Blue\",\n      \"permalink\": \"martha-marty-blue\"}},\n   {\"is_past\": false,\n
        \   \"title\": \"VP of Technology\",\n    \"person\":\n     {\"first_name\":
        \"Oliver\",\n      \"last_name\": \"Chrzan\",\n      \"permalink\": \"o[...]
