---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/emergingcast.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"ea139ccda2a37890241f03be25263b64"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
      encoding: UTF-8
      string: "{\"name\": \"EmergingCast\",\n \"permalink\": \"emergingcast\",\n \"crunchbase_url\":
        \"http://www.crunchbase.com/company/emergingcast\",\n \"homepage_url\": null,\n
        \"blog_url\": null,\n \"blog_feed_url\": null,\n \"twitter_username\": null,\n
        \"category_code\": null,\n \"number_of_employees\": null,\n \"founded_year\":
        null,\n \"founded_month\": null,\n \"founded_day\": null,\n \"deadpooled_year\":
        null,\n \"deadpooled_month\": null,\n \"deadpooled_day\": null,\n \"deadpooled_url\":
        null,\n \"tag_list\": \"content, on-demand, evergreen, short-form-videos,
        texts, factory, online-media\",\n \"alias_list\": null,\n \"email_address\":
        null,\n \"phone_number\": null,\n \"description\": null,\n \"created_at\":
        \"Wed Aug 04 23:25:24 UTC 2010\",\n \"updated_at\": \"Thu Apr 04 10:48:38
        UTC 2013\",\n \"overview\": \"\\u003Cp\\u003EEmergingCast is leading crowd-sourced
        content factory\v in Latin America \\u0026amp; US Hispanics.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EThe
        company produces mass-scale and low cost materials (texts, audios \\u0026amp;
        short-form videos) by employing thousands of freelancers worldwide.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIt
        has a proprietary editorial system called Emerging Freelancers Program part
        manual and part automated.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EEmergingCast\\u0026#8217;s
        content library is:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EEvergreen\\u003C/li\\u003E\\n\\u003Cli\\u003EMultilingual
        (Spanish, English \\u0026amp; Portuguese)\\u003C/li\\u003E\\n\\u003Cli\\u003ESearch
        Driven\\u003C/li\\u003E\\n\\u003Cli\\u003EBrand Safe\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\n\\u003Cp\\u003EThe
        company adapts Demand Media, Associated Content \\u0026amp; Seed business
        models to Latin America and US Hispanics markets.\\u003C/p\\u003E\",\n \"image\":
        null,\n \"products\":\n  [],\n \"relationships\":\n  [{\"is_past\": true,\n
        \   \"title\": \"CEO\",\n    \"person\":\n     {\"first_name\": \"Damian\",\n
        \     \"last_name\": \"Voltes\",\n      \"permalink\": \"damian-voltes\"}}],\n
        \"competitions\":\n  [],\n \"providerships\":\n  [],\n \"total_money_raised\":
        \"$0\",\n \"funding_rounds\":\n  [],\n \"investments\":\n  [],\n \"acquisition\":
        null,\n \"acquisitions\":\n  [],\n \"offices\":\n  [{\"description\": \"New
        York Office\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"New York\",\n    \"state_code\": \"NY\",\n    \"country_code\":
        \"USA\",\n    \"latitude\": null,\n    \"longitude\": null},\n   {\"description\":
        \"New York Office\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"New York\",\n    \"state_code\": \"NY\",\n    \"country_code\":
        \"USA\",\n    \"latitude\": null,\n    \"longitude\": null},\n   {\"description\":
        \"Buenos Aires\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"Buenos Aires\",\n    \"state_code\": null,\n    \"country_code\":
        \"ARG\",\n    \"latitude\": null,\n    \"longitude\": null}],\n \"milestones\":\n
        \ [],\n \"ipo\": null,\n \"video_embeds\":\n  [],\n \"screenshots\":\n  [],\n
        \"external_links\":\n  [],\n \"partners\":\n  []}"
  recorded_at: Wed, 12 Feb 2014 15:31:00 GMT
[...]
