---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/wetpaint.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"5842ce0dc47e4c9ce2edfc77c67b3db5"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {"name": "Wetpaint",
         "permalink": "wetpaint",
         "crunchbase_url": "http://www.crunchbase.com/company/wetpaint",
         "homepage_url": "http://wetpaint-inc.com",
         "blog_url": "http://digitalquarters.net/",
         "blog_feed_url": "http://digitalquarters.net/feed/",
         "twitter_username": "BachelrWetpaint",
         "category_code": "web",
         "number_of_employees": 47,
         "founded_year": 2005,
         "founded_month": 10,
         "founded_day": 17,
         "deadpooled_year": null,
         "deadpooled_month": null,
         "deadpooled_day": null,
         "deadpooled_url": null,
         "tag_list": "wiki, seattle, elowitz, media-industry, media-platform, social-distribution-system",
         "alias_list": "",
         "email_address": "info@wetpaint.com",
         "phone_number": "206.859.6300",
         "description": "Technology Platform Company",
         "created_at": "Fri May 25 06:51:27 UTC 2007",
         "updated_at": "Sun Dec 08 07:15:44 UTC 2013",
         "overview": "\u003Cp\u003EWetpaint is a technology platform company that uses its proprietary state-of-the-art technology and expertise in social media to build and monetize audiences for digital publishers. Wetpaint\u2019s own online property, Wetpaint Entertainment, an entertainment news site that attracts more than 12 million unique visitors monthly and has over 2 million Facebook fans, is a proof point to the company\u2019s success in building and engaging audiences. Media companies can license Wetpaint\u2019s platform which includes a dynamic playbook tailored to their individual needs and comprehensive training. Founded by Internet pioneer Ben Elowitz, and with offices in New York and Seattle, Wetpaint is backed by Accel Partners, the investors behind Facebook.\u003C/p\u003E",
         "image":
          {"available_sizes":
            [[[150,
               75],
              "assets/images/resized/0000/3604/3604v14-max-150x150.jpg"],
             [[250,
               125],
              "assets/images/resized/0000/3604/3604v14-max-250x250.jpg"],
             [[450,
               225],
              "assets/images/resized/0000/3604/3604v14-max-450x450.jpg"]],
           "attribution": null},
         "products":
          [{"name": "Wikison Wetpaint",
            "permalink": "wetpaint-wiki"},
           {"name": "Wetpaint Social Distribution System",
            "permalink": "wetpaint-social-distribution-system"}],
         "relationships":
          [{"is_past": false,
            "title": "Co-Founder and VP, Social and Audience Development",
            "person":
             {"first_name": "Michael",
              "last_name": "Howell",
              "permalink": "michael-howell"}},
           {"is_past": false,
            "title": "Co-Founder/CEO/Board of Directors",
            "person":
             {"first_name": "Ben",
              "last_name": "Elowitz",
              "permalink": "ben-elowitz"}},
           {"is_past": false,
            "title": "COO/Board of Directors",
            "person":
             {"first_name": "Rob",
              "last_name": "Grady",
              "permalink": "rob-grady"}},
   [...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/kmart.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"c96c7ff9f9fffc824404e22a8797c413"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: UT[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/viacom.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"95a70a51e874c1fa87aa9f55493aebe3"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: U[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/mcdonalds.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"41b2538194c4b677ef01d947809c1123"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
      encoding[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/facebook.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"6570da09ec68ad18bdfd6ecb92f71e49"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-18.mashery.com
    body:
      encoding:[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/zwinky.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"d1d88615061fb419c415787777d2f69e"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: U[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/headstrong-brain-gym.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"0e80719ddbb9c6e45b0c4193240cc7b5"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
   [...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/uncle-sams-new-york-llc.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"797f0e0272595485dc6b873b37f2db06"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-18.mashery.com
    body:
[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/philo-media.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"86dd0381c12ae4db5f0f5ef6906ebfbe"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encodi[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/cargurus.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"33157e4a1c00dbad004efae9e20b1580"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-18.mashery.com
    body:
      encoding:[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/emergingcast.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"ea139ccda2a37890241f03be25263b64"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
      encod[...]
