---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/cargurus.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"33157e4a1c00dbad004efae9e20b1580"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-18.mashery.com
    body:
      encoding: UTF-8
      string: "{\"name\": \"CarGurus\",\n \"permalink\": \"cargurus\",\n \"crunchbase_url\":
        \"http://www.crunchbase.com/company/cargurus\",\n \"homepage_url\": \"http://www.cargurus.com\",\n
        \"blog_url\": \"http://blog.cargurus.com/\",\n \"blog_feed_url\": \"http://blog.cargurus.com/feed\",\n
        \"twitter_username\": \"CarGurus\",\n \"category_code\": \"web\",\n \"number_of_employees\":
        47,\n \"founded_year\": 2006,\n \"founded_month\": null,\n \"founded_day\":
        null,\n \"deadpooled_year\": null,\n \"deadpooled_month\": null,\n \"deadpooled_day\":
        null,\n \"deadpooled_url\": null,\n \"tag_list\": \"cars, shopping, auto,
        price-comparison, qa, classifieds\",\n \"alias_list\": null,\n \"email_address\":
        \"\",\n \"phone_number\": \"617-234-5502\",\n \"description\": \"Car Shopping
        and Community\",\n \"created_at\": \"Sun Feb 17 02:26:00 UTC 2008\",\n \"updated_at\":
        \"Mon Jan 20 03:53:38 UTC 2014\",\n \"overview\": \"\\u003Cp\\u003EA comparison
        shopping site for automobiles that uses proprietary pricing algorithms to
        analyze millions of new and used car listings to help consumers find the best
        deals\x14 and avoid bad deals \x14in their local area. Users share information,
        including reviews of dealers, mechanics, and cars and advice on other car
        topics.\\u003C/p\\u003E\",\n \"image\":\n  {\"available_sizes\":\n    [[[150,\n
        \      38],\n      \"assets/images/resized/0002/2167/22167v1-max-150x150.png\"],\n
        \    [[250,\n       64],\n      \"assets/images/resized/0002/2167/22167v1-max-250x250.png\"],\n
        \    [[257,\n       66],\n      \"assets/images/resized/0002/2167/22167v1-max-450x450.png\"]],\n
        \  \"attribution\": null},\n \"products\":\n  [],\n \"relationships\":\n  [{\"is_past\":
        false,\n    \"title\": \"CEO\",\n    \"person\":\n     {\"first_name\": \"Langley\",\n
        \     \"last_name\": \"Steinert\",\n      \"permalink\": \"langley-steinert\"}},\n
        \  {\"is_past\": false,\n    \"title\": \"Vice President, Business Development\",\n
        \   \"person\":\n     {\"first_name\": \"Martha\",\n      \"last_name\": \"(Marty)
        Blue\",\n      \"permalink\": \"martha-marty-blue\"}},\n   {\"is_past\": false,\n
        \   \"title\": \"VP of Technology\",\n    \"person\":\n     {\"first_name\":
        \"Oliver\",\n      \"last_name\": \"Chrzan\",\n      \"permalink\": \"o[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Strict//EN\">\n<html
        xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n\t<head>\n\t\t<script type=\"text/javascript\">var
        _sf_startpt=(new Date()).getTime()</script>\n\t\t<title>page not found | CrunchBase</title>\n\t\t<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<!--removes
        image toolbar in ie6 when hovering over an image-->\n\t\t<meta http-equiv=\"imagetoolbar\"
        content=\"no\">\n\t\t<meta name=\"verify-v1\" content=\"Bq7pUbAKNsXZX1CUADib2mG86+9F4navslus2seHM98=\"
        >\n\t\t<meta name=\"google-site-verification\" content=\"jsbIpHVQLY1kZJ_nxdPuFMGL9J3LST9g5mssBq0_Rf0\"
        />\t\t\n\t\t\n\t\t<link rel=\"icon\" type=\"image/png\" href=\"/images/favicon.png\">\n\t\t<link
        rel=\"apple-touch-icon\" href=\"/images/webclip.png\"/>\n\t\t<link rel=\"search\"
        type=\"application/opensearchdescription+xml\" title=\"CrunchBase\" href=\"/opensearch.xml\">\n\t\t\n\t\t<link
        href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/all_1391894882.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n    \n\t\t<link
        rel=\"stylesheet\" type=\"text/css\" media=\"print\" href=\"/stylesheets/print.css\"
        />\n\t\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"
        type=\"text/javascript\"></script>\n\t\t\n\t\t<script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/all_1391894882.js\"
        type=\"text/javascript\"></script>\n    <script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/calendar_date_select/calendar_date_select.js\"
        type=\"text/javascript\"></script>\n<link href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/calendar_date_select/default.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n\t\t\n\t\t\n\t\t<script
        src=\"http://o.aolcdn.com/ads/adsWrapper.js\" type=\"text/javascript\"></script>\n\t\t<script
        type=\"text/javascript\">adSetAdURL(\"http://www.crunchbase.com/_uac/adpage.html\");</script>\n\t</head>\n\t<body>\n\t\t<div
        id=\"welcome\" style=\"display:none;\"><div class=\"close\" onClick=\"Effect.BlindUp('welcome',
        { duration: 1.0 });ignoreWelcome();return false;\">x</div>Welcome to CrunchBase!
        <a href =\"/help/faq\" onClick=\"ignoreWelcome();\">Learn more</a></div>\n\t\t\t\t\n\t\t<div
        id=\"top\">\n\t<div id=\"top_strip\">\n\t\t<div id=\"top_strip_left\">\n\t\t\t<ul>\n\t\t\t\t<li><div><a
        href=\"http://www.techcrunch.com/\" title=\"Tech\">TechCrunch</a></div></li>\n\t\t\t\t<li
        id=\"top_active_tab\"><div><a href=\"http://www.crunchbase.com/\" title=\"CrunchBase\">CrunchBase</a></div></li>\n\t\t\t\t<li
        id=\"tcnetwork_more\">\n\t\t\t\t\t<div><a id=\"tcnetwork_more_link\" href=\"#\"
        onClick=\"tcnetwork_more(); tcStopPropagation(event); return false;\">More</a></div>\n\t\t\t\t\t<div
        id=\"tcnetwork_more_content\">\n\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t<li><a href=\"http://uk.techcrunch.com/\"
        title=\"TechCrunch UK\">TechCrunch UK</a></li>\n\t\t\t\t\t\t\t<li><a href=\"http://fr.techcrunch.com/\"
        title=\"TechCrunch France\">TechCrunch France</a></li>\n\t\t\t\t\t\t\t<li><a
        href=\"http://jp.techcrunch.com/\" title=\"TechCrunch Japan\">TechCrunch Japan</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</li>\n\t\t\t</ul>\n\t\t</div>\n\t</div>\n</div>\n<div
        id=\"header\">\n\t<a href=\"/\" id=\"logo\"><img src=\"http://ec2-107-21-104-179.compute-1.amazonaws.com/images/crunchbase_logo.png\"
        alt=\"CrunchBase Picture\" border=\"0\" /></a>\n\t<div class=\"ads leaderboard\">\n\t\t<!--
        ADS *************** -->\n\n\t\n\n<div id=\"ads\">\t\n\t<script type=\"text/javascript\">\n\t\t<!--\n\t\t\tadSetType('F');\n\t\t\thtmlAdWH(\"93318425\",
        \"728\", \"90\");\n\t\t//-->\n\t</script>\n</div>\n\t</div>\n\t\n</div>\n\n\t
        \ \t<div id=\"strip\">\t\n\t<div id=\"session\">\n\t\n\t\t<a href=\"/account/signup\"
        title=\"Register\">Register</a>&nbsp;|\n\t\t<a href=\"/login\" rel=\"nofollow\"
        title=\"Login\">Login</a> or\n\t\t<fb:login-button onlogin=\"window.location.href
        = &quot;/facebook_connect/connect&quot;;\" v=\"2\"></fb:login-button>\t\t\t\t\t\t\n\t\n</div>\n\t<div
        id=\"strip_right\">\t\t\n\t\t\n\t</div>\n\t<div id=\"search\">\n\t<form action=\"/search\"
        method=\"get\">\n\t\t<input autocomplete=\"off\" id=\"search_box\" name=\"query\"
        type=\"text\" />\n\t\t<input class=\"button\" id=\"search_button\" type=\"submit\"
        value=\"Search\" />\t\t\n\t\t<a href=\"#\" id=\"advanced_search\" onclick=\"run_advanced_search('/search/advanced/companies',
        \n                               $('search_box').value); return false;\" rel=\"nofollow\"
        title=\"Advanced Search\">Advanced Search</a> \n\t</form>\n</div>\n</div>\t\t\n\t\t<div
        id=\"breadcrumbs\"><a href=\"/\" title=\"Home\" rel=\"nofollow\">Home</a></div>\n\t\t\n\t\t<div
        id=\"container\">\n\t\t\t\n\n\n<div id=\"col1\">\n  <div class=\"col1_tabs\">\n
        \   <div class=\"col1_content\">\n      <table>\n      </table>\n    </div>\n
        \ </div>\n</div>\n\n\n<div id=\"col2\">\n  <div id=\"col2_internal\">\n    <div
        class=\"msg_notice\">\n      Sorry, we found nothing matching this URL.\n
        \   </div>\t\t\t\n  </div>\n</div>\n\n\n<div id=\"col3\">\n  <div class=\"col3_content\">\n
        \   <ul>\n  \n    </ul>\n  </div>\n</div>\n\n\t\t</div>\n\t\t<div id=\"footer\">\n
        \ <a href=\"/about\" rel=\"nofollow\" title=\"About\">About</a> |\n  <a href=\"http://www.techcrunch[...]
