---
http_interactions:
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/emergingcast.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Etag:
      - '"ea139ccda2a37890241f03be25263b64"'
      Status:
      - 200 OK
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-20.mashery.com
    body:
      encoding: UTF-8
      string: "{\"name\": \"EmergingCast\",\n \"permalink\": \"emergingcast\",\n \"crunchbase_url\":
        \"http://www.crunchbase.com/company/emergingcast\",\n \"homepage_url\": null,\n
        \"blog_url\": null,\n \"blog_feed_url\": null,\n \"twitter_username\": null,\n
        \"category_code\": null,\n \"number_of_employees\": null,\n \"founded_year\":
        null,\n \"founded_month\": null,\n \"founded_day\": null,\n \"deadpooled_year\":
        null,\n \"deadpooled_month\": null,\n \"deadpooled_day\": null,\n \"deadpooled_url\":
        null,\n \"tag_list\": \"content, on-demand, evergreen, short-form-videos,
        texts, factory, online-media\",\n \"alias_list\": null,\n \"email_address\":
        null,\n \"phone_number\": null,\n \"description\": null,\n \"created_at\":
        \"Wed Aug 04 23:25:24 UTC 2010\",\n \"updated_at\": \"Thu Apr 04 10:48:38
        UTC 2013\",\n \"overview\": \"\\u003Cp\\u003EEmergingCast is leading crowd-sourced
        content factory\v in Latin America \\u0026amp; US Hispanics.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EThe
        company produces mass-scale and low cost materials (texts, audios \\u0026amp;
        short-form videos) by employing thousands of freelancers worldwide.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EIt
        has a proprietary editorial system called Emerging Freelancers Program part
        manual and part automated.\\u003C/p\\u003E\\n\\n\\u003Cp\\u003EEmergingCast\\u0026#8217;s
        content library is:\\u003C/p\\u003E\\n\\n\\u003Cul\\u003E\\n\\u003Cli\\u003EEvergreen\\u003C/li\\u003E\\n\\u003Cli\\u003EMultilingual
        (Spanish, English \\u0026amp; Portuguese)\\u003C/li\\u003E\\n\\u003Cli\\u003ESearch
        Driven\\u003C/li\\u003E\\n\\u003Cli\\u003EBrand Safe\\u003C/li\\u003E\\n\\u003C/ul\\u003E\\n\\n\\u003Cp\\u003EThe
        company adapts Demand Media, Associated Content \\u0026amp; Seed business
        models to Latin America and US Hispanics markets.\\u003C/p\\u003E\",\n \"image\":
        null,\n \"products\":\n  [],\n \"relationships\":\n  [{\"is_past\": true,\n
        \   \"title\": \"CEO\",\n    \"person\":\n     {\"first_name\": \"Damian\",\n
        \     \"last_name\": \"Voltes\",\n      \"permalink\": \"damian-voltes\"}}],\n
        \"competitions\":\n  [],\n \"providerships\":\n  [],\n \"total_money_raised\":
        \"$0\",\n \"funding_rounds\":\n  [],\n \"investments\":\n  [],\n \"acquisition\":
        null,\n \"acquisitions\":\n  [],\n \"offices\":\n  [{\"description\": \"New
        York Office\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"New York\",\n    \"state_code\": \"NY\",\n    \"country_code\":
        \"USA\",\n    \"latitude\": null,\n    \"longitude\": null},\n   {\"description\":
        \"New York Office\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"New York\",\n    \"state_code\": \"NY\",\n    \"country_code\":
        \"USA\",\n    \"latitude\": null,\n    \"longitude\": null},\n   {\"description\":
        \"Buenos Aires\",\n    \"address1\": \"\",\n    \"address2\": \"\",\n    \"zip_code\":
        \"\",\n    \"city\": \"Buenos Aires\",\n    \"state_code\": null,\n    \"country_code\":
        \"ARG\",\n    \"latitude\": null,\n    \"longitude\": null}],\n \"milestones\":\n
        \ [],\n \"ipo\": null,\n \"video_embeds\":\n  [],\n \"screenshots\":\n  [],\n
        \"external_links\":\n  [],\n \"partners\":\n  []}"
  recorded_at: Mon, 10 Feb 2014 13:03:52 GMT
[...]
- request:
    method: get
    uri: http://api.crunchbase.com/v/1/company/.js?api_key=an35bya6x7ktkm5z7q3q6dvg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
      X-Mashery-Responder:
      - prod-j-worker-us-west-1b-19.mashery.com
    body:
      encoding: UTF-8
      string: "<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Strict//EN\">\n<html
        xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n\t<head>\n\t\t<script type=\"text/javascript\">var
        _sf_startpt=(new Date()).getTime()</script>\n\t\t<title>page not found | CrunchBase</title>\n\t\t<meta
        http-equiv=\"Content-Type\" content=\"text/html; charset=utf-8\">\n\t\t<!--removes
        image toolbar in ie6 when hovering over an image-->\n\t\t<meta http-equiv=\"imagetoolbar\"
        content=\"no\">\n\t\t<meta name=\"verify-v1\" content=\"Bq7pUbAKNsXZX1CUADib2mG86+9F4navslus2seHM98=\"
        >\n\t\t<meta name=\"google-site-verification\" content=\"jsbIpHVQLY1kZJ_nxdPuFMGL9J3LST9g5mssBq0_Rf0\"
        />\t\t\n\t\t\n\t\t<link rel=\"icon\" type=\"image/png\" href=\"/images/favicon.png\">\n\t\t<link
        rel=\"apple-touch-icon\" href=\"/images/webclip.png\"/>\n\t\t<link rel=\"search\"
        type=\"application/opensearchdescription+xml\" title=\"CrunchBase\" href=\"/opensearch.xml\">\n\t\t\n\t\t<link
        href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/all_1391895782.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n    \n\t\t<link
        rel=\"stylesheet\" type=\"text/css\" media=\"print\" href=\"/stylesheets/print.css\"
        />\n\t\t<script src=\"http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js\"
        type=\"text/javascript\"></script>\n\t\t\n\t\t<script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/all_1391895782.js\"
        type=\"text/javascript\"></script>\n    <script src=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/javascripts/calendar_date_select/calendar_date_select.js\"
        type=\"text/javascript\"></script>\n<link href=\"http://ec2-107-22-191-133.compute-1.amazonaws.com/stylesheets/calendar_date_select/default.css\"
        media=\"screen\" rel=\"stylesheet\" type=\"text/css\" />\n\t\t\n\t\t\n\t\t<script
        src=\"http://o.aolcdn.com/ads/adsWrapper.js\" type=\"text/javascript\"></script>\n\t\t<script
        type=\"text/javascript\">adSetAdURL(\"http://www.crunchbase.com/_uac/adpage.html\");</script>\n\t</head>\n\t<body>\n\t\t<div
        id=\"welcome\" style=\"display:none;\"><div class=\"close\" onClick=\"Effect.BlindUp('welcome',
        { duration: 1.0 });ignoreWelcome();return false;\">x</div>Welcome to CrunchBase!
        <a href =\"/help/faq\" onClick=\"ignoreWelcome();\">Learn more</a></div>\n\t\t\t\t\n\t\t<div
        id=\"top\">\n\t<div id=\"top_strip\">\n\t\t<div id=\"top_strip_left\">\n\t\t\t<ul>\n\t\t\t\t<li><div><a
        href=\"http://www.techcrunch.com/\" title=\"Tech\">TechCrunch</a></div></li>\n\t\t\t\t<li
        id=\"top_active_tab\"><div><a href=\"http://www.crunchbase.com/\" title=\"CrunchBase\">CrunchBase</a></div></li>\n\t\t\t\t<li
        id=\"tcnetwork_more\">\n\t\t\t\t\t<div><a id=\"tcnetwork_more_link\" href=\"#\"
        onClick=\"tcnetwork_more(); tcStopPropagation(event); return false;\">More</a></div>\n\t\t\t\t\t<div
        id=\"tcnetwork_more_content\">\n\t\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t<li><a href=\"http://uk.techcrunch.com/\"
        title=\"TechCrunch UK\">TechCrunch UK</a></li>\n\t\t\t\t\t\t\t<li><a href=\"http://fr.techcrunch.com/\"
        title=\"TechCrunch France\">TechCrunch France</a></li>\n\t\t\t\t\t\t\t<li><a
        href=\"http://jp.techcrunch.com/\" title=\"TechCrunch Japan\">TechCrunch Japan</a></li>\n\t\t\t\t\t\t</ul>\n\t\t\t\t\t</div>\n\t\t\t\t</li>\n\t\t\t</ul>\n\t\t</div>\n\t</div>\n</div>\n<div
        id=\"header\">\n\t<a href=\"/\" id=\"logo\"><img src=\"http://ec2-107-21-104-179.compute-1.amazonaws.com/images/crunchbase_logo.png\"
        alt=\"CrunchBase Picture\" border=\"0\" /></a>\n\t<div class=\"ads leaderboard\">\n\t\t<!--
        ADS *************** -->\n\n\t\n\n<div id=\"ads\">\t\n\t<script type=\"text/javascript\">\n\t\t<!--\n\t\t\tadSetType('F');\n\t\t\thtmlAdWH(\"93318425\",
        \"728\", \"90\");\n\t\t//-->\n\t</script>\n</div>\n\t</div>\n\t\n</div>\n\n\t
        \ \t<div id=\"strip\">\t\n\t<div id=\"session\">\n\t\n\t\t<a href=\"/account/signup\"
        title=\"Register\">Register</a>&nbsp;|\n\t\t<a href=\"/login\" rel=\"nofollow\"
        title=\"Login\">Login</a> or\n\t\t<fb:login-button onlogin=\"window.location.href
        = &quot;/facebook_connect/connect&quot;;\" v=\"2\"></fb:login-button>\t\t\t\t\t\t\n\t\n</div>\n\t<div
        id=\"strip_right\">\t\t\n\t\t\n\t</div>\n\t<div id=\"search\">\n\t<form action=\"/search\"
        method=\"get\">\n\t\t<input autocomplete=\"off\" id=\"search_box\" name=\"query\"
        type=\"text\" />\n\t\t<input class=\"button\" id=\"search_button\" type=\"submit\"
        value=\"Search\" />\t\t\n\t\t<a href=\"#\" id=\"advanced_search\" onclick=\"run_advanced_search('/search/advanced/companies',
        \n                               $('search_box').value); return false;\" rel=\"nofollow\"
        title=\"Advanced Search\">Advanced Search</a> \n\t</form>\n</div>\n</div>\t\t\n\t\t<div
        id=\"breadcrumbs\"><a href=\"/\" title=\"Home\" rel=\"nofollow\">Home</a></div>\n\t\t\n\t\t<div
        id=\"container\">\n\t\t\t\n\n\n<div id=\"col1\">\n  <div class=\"col1_tabs\">\n
        \   <div class=\"col1_content\">\n      <table>\n      </table>\n    </div>\n
        \ </div>\n</div>\n\n\n<div id=\"col2\">\n  <div id=\"col2_internal\">\n    <div
        class=\"msg_notice\">\n      Sorry, we found nothing matching this URL.\n
        \   </div>\t\t\t\n  </div>\n</div>\n\n\n<div id=\"col3\">\n  <div class=\"col3_content\">\n
        \   <ul>\n  \n    </ul>\n  </div>\n</div>\n\n\t\t</div>\n\t\t<div id=\"footer\">\n
        \ <a href=\"/about\" rel=\"nofollow\" title=\"About\">About</a> |\n  <a href=\"http://www.techcrunch[...]
